// FormPara
.form-para{
    width: 464px;
}
// FormDiv
.form-div{
    width: 540px;
}
// Contact Image
.cont-img-div{
    padding-top: 85px;
   
}
// ContactImage
.cont-img{
    width: 500px;
    height: 570px;
    }
// ContactForm
.form{
    height: 55px;
      border-width: 2px;
      font-family: "Muli";
      display: block;
      width: 100%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    
  }
  textarea{
   
    height: 200px!important;
   
  }
  .btn-form {
    padding: 13px 60px 13px 60px;
    color: white;
    border-radius: 3px;
    font-size: 15px;
}
.btn-ocean{
    background-color: #1FB58F;
    border: 1px solid #1FB58F;
}